/* {
    box-sizing: border-box;
  } */
ul {
    margin: 0;
    padding: 0;
  }

/* Style the list items */
ul ol {
    cursor: pointer;
    position: relative;
    padding: 12px 8px 12px 40px;
    background: #eee;
    font-size: 18px;
    transition: 0.2s;
  
    /* make the list items unselectable */
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
  }

.div{
    font-size: large;
    margin-left: 3%;
    color: red;
}
.h4{
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-weight: 600;
    margin-left: 3%
}